
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="@await Component.InvokeAsync("Logo")" sizes="35x35" type="image/png">
    <title>@ViewData["Title"] | جذاب ترین قالب جهان</title>

    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/assets/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/color.css">
    @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-AE")
    {
        <link rel="stylesheet" href="~/assets/css/rtl.css">
    }
    else
    {
        <link href="~/assets/css/ltr.css" rel="stylesheet" />
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/rs07w6qzz1wifjj4zi1uc53vuau00y218wdrtoethnvf1alj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <style>
        .field-validation-error {
            color: red
        }
    </style>
</head>
@inject UserManager<ApplicationUser> userManager
@inject IViewLocalizer localizer
<body>
    <main>
        <header class="stick style2 w-100">
            <div class="topbar bg-color5 w-100">
                <div class="container">
                    <div class="topbar-inner d-flex flex-wrap justify-content-between align-items-center w-100">
                        <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
                            @if (User.IsInRole("admin"))
                            {
                                <li style="margin-right: 15px"><a asp-action="UpdateHeaderProp" asp-controller="admin">ویرایش</a><i class="fas fa-edit"></i></li>
                            }
                            @await Component.InvokeAsync("PhoneAddress")
                        </ul>
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <ul class="topbar-links mb-0 list-unstyled d-inline-flex text-left">
                                <li><a asp-action="register" asp-controller="account" title="">@localizer["Register"]</a></li>
                                <li><a asp-action="login" asp-controller="account" title="">@localizer["Login"]</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="topbar-links mb-0 list-unstyled d-inline-flex text-left">
                                <li><a asp-action="logout" asp-controller="account" title="">@localizer["LogOut"]</a></li>
                            </ul>
                        }
                    </div>
                </div>
            </div><!-- Topbar -->
            <div class="logo-info-bar-wrap w-100">
                <div class="container">
                    <div class="logo-info-bar-inner w-100 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="logo-social d-inline-flex flex-wrap justify-content-between align-items-center">
                            <div class="logo">
                                <h1 class="mb-0">
                                    <a asp-action="index" asp-controller="home">
                                        <img class="img-fluid"
                                             src="@await Component.InvokeAsync("Logo")"
                                             alt="Logo"
                                             srcset="@await Component.InvokeAsync("Logo")">
                                    </a>
                                </h1>
                            </div><!-- Logo -->
                            <div class="social-links">
                                @await Component.InvokeAsync("Socials")
                            </div>
                        </div>
                        <div class="top-info-wrap d-inline-flex flex-wrap justify-content-between align-items-center">
                            <div class="call-us">
                                <i class="thm-clr far fa-envelope-open"></i>
                                <span>@localizer["Email"]</span>
                                @await Component.InvokeAsync("Email")
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Logo Info Bar Wrap -->
            <div class="menu-wrap">
                <div class="container">
                    <nav class="d-inline-flex justify-content-between align-items-center w-100 bg-color1 rspn-hdr">
                        <div class="header-left">
                            <ul class="mb-0 list-unstyled d-inline-flex">
                                <li><a asp-action="index" asp-controller="project" title="">@localizer["Projects"]</a></li>
                                <li><a asp-action="index" asp-controller="blog" title="">@localizer["Blog"]</a></li>
                                <li><a asp-action="aboutus" asp-controller="home" title="">@localizer["AboutUs"]</a></li>
                                <li><a asp-action="contactus" asp-controller="home" title="">@localizer["ContactUs"]</a></li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);" title="">@localizer["Language"]</a>
                                    <ul class="mb-0 list-unstyled">
                                        @await Component.InvokeAsync("Language")
                                    </ul>
                                </li>

                                @if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
                                {
                                    ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);
                                    <li class="menu-item-has-children active">
                                        <a href="javascript:void(0);" title="">@($"{user.name} {user.family}")</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">@localizer["Account"]</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="editprofile" asp-controller="account" title="">@localizer["EditAccount"]</a></li>
                                                    <li><a asp-action="changepassword" asp-controller="account" asp-route-pagenumber="1" title="">@localizer["ChangePass"]</a></li>
                                                </ul>
                                            </li>
                                            <li><a asp-action="order" asp-controller="payment" title="">@localizer["Payment"]</a></li>
                                            <li><a asp-action="purchases" asp-controller="account" title="">@localizer["Orders"]</a></li>
                                            <li><a asp-action="support" asp-controller="account" title="">@localizer["Support"]</a></li>
                                        </ul>
                                    </li>
                                }

                                @if (User.IsInRole("admin"))
                                {
                                    <li class="menu-item-has-children active">
                                        <a href="javascript:void(0);" title="">ادمین</a>
                                        <ul class="mb-0 list-unstyled" style="display: block;">
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">حساب کاربری</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="editprofile" asp-controller="account" title="">ویرایش اطلاعات حساب کاربری</a></li>
                                                    <li><a asp-action="changepassword" asp-controller="account" asp-route-pagenumber="1" title="">تغییر رمز عبور</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">نمونه کار</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="insertproject" asp-controller="admin" title="">ثبت نمونه کار</a></li>
                                                    <li><a asp-action="projectoptions" asp-controller="admin" asp-route-pagenumber="1" title="">حذف و ویرایش نمونه کار</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">پست</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="insertpost" asp-controller="admin" title="">ثبت پست</a></li>
                                                    <li><a asp-action="postoptions" asp-controller="admin" asp-route-pagenumber="1" title="">حذف و ویرایش پست</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">سفارش</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    @await Component.InvokeAsync("Order")
                                                    <li><a asp-action="Orderprop" asp-controller="admin" title="">ویرایش توضیحات سفارش</a></li>
                                                </ul>
                                            </li>
                                            <li><a asp-action="aboutusprop" asp-controller="admin" title="">ویرایش درباره ما</a></li>
                                            <li><a asp-action="contactusprop" asp-controller="admin" title="">ویرایش تماس با ما</a></li>
                                            @(await Component.InvokeAsync("Inbox"))
                                            <li><a asp-action="chatmanagement" asp-controller="admin" asp-route-pagenumber="1" title="">گفت و گو ها</a></li>
                                            <li><a asp-action="users" asp-controller="admin" asp-route-pagenumber="1" title="">مدیریت کاربران</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div><!-- Menu Wrap -->
        </header><!-- Header -->
        <div class="sticky-menu">
            <div class="container">
                <div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
                    <div class="logo">
                        <h1 class="mb-0">
                            <a asp-action="index" asp-controller="home" title="Home">
                                <img class="img-fluid"
                                     src="@await Component.InvokeAsync("Logo")"
                                     alt="Logo"
                                     srcset="@await Component.InvokeAsync("Logo")">
                            </a>
                        </h1>
                    </div><!-- Logo -->
                    <nav class="d-inline-flex justify-content-between align-items-center">
                        <div class="header-left">
                            <ul class="mb-0 list-unstyled d-inline-flex">
                                <li><a asp-action="index" asp-controller="project" title="">@localizer["Projects"]</a></li>
                                <li><a asp-action="index" asp-controller="blog" title="">@localizer["Blog"]</a></li>
                                <li><a asp-action="aboutus" asp-controller="home" title="">@localizer["AboutUs"]</a></li>
                                <li><a asp-action="contactus" asp-controller="home" title="">@localizer["ContactUs"]</a></li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);" title="">@localizer["Language"]</a>
                                    <ul class="mb-0 list-unstyled">
                                        @await Component.InvokeAsync("Language")
                                    </ul>
                                </li>

                                @if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
                                {
                                    ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);
                                    <li class="menu-item-has-children active">
                                        <a href="javascript:void(0);" title="">@($"{user.name} {user.family}")</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">@localizer["Account"]</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="editprofile" asp-controller="account" title="">@localizer["EditAccount"]</a></li>
                                                    <li><a asp-action="changepassword" asp-controller="account" asp-route-pagenumber="1" title="">@localizer["ChangePass"]</a></li>
                                                </ul>
                                            </li>
                                            <li><a asp-action="order" asp-controller="payment" title="">@localizer["Payment"]</a></li>
                                            <li><a asp-action="purchases" asp-controller="account" title="">@localizer["Orders"]</a></li>
                                            <li><a asp-action="support" asp-controller="account" title="">@localizer["Support"]</a></li>
                                        </ul>
                                    </li>
                                }

                                @if (User.IsInRole("admin"))
                                {
                                    <li class="menu-item-has-children active">
                                        <a href="javascript:void(0);" title="">ادمین</a>
                                        <ul class="mb-0 list-unstyled" style="display: block;">
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">حساب کاربری</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="editprofile" asp-controller="account" title="">ویرایش اطلاعات حساب کاربری</a></li>
                                                    <li><a asp-action="changepassword" asp-controller="account" asp-route-pagenumber="1" title="">تغییر رمز عبور</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">نمونه کار</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="insertproject" asp-controller="admin" title="">ثبت نمونه کار</a></li>
                                                    <li><a asp-action="projectoptions" asp-controller="admin" asp-route-pagenumber="1" title="">حذف و ویرایش نمونه کار</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">پست</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    <li><a asp-action="insertpost" asp-controller="admin" title="">ثبت پست</a></li>
                                                    <li><a asp-action="postoptions" asp-controller="admin" asp-route-pagenumber="1" title="">حذف و ویرایش پست</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);" title="">سفارش</a>
                                                <ul class="mb-0 list-unstyled" style="display: block;">
                                                    @await Component.InvokeAsync("Order")
                                                    <li><a asp-action="Orderprop" asp-controller="admin" title="">ویرایش توضیحات سفارش</a></li>
                                                </ul>
                                            </li>
                                            <li><a asp-action="aboutusprop" asp-controller="admin" title="">ویرایش درباره ما</a></li>
                                            <li><a asp-action="contactusprop" asp-controller="admin" title="">ویرایش تماس با ما</a></li>
                                            @(await Component.InvokeAsync("Inbox"))
                                            <li><a asp-action="chatmanagement" asp-controller="admin" asp-route-pagenumber="1" title="">گفت و گو ها</a></li>
                                            <li><a asp-action="users" asp-controller="admin" asp-route-pagenumber="1" title="">مدیریت کاربران</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div><!-- Sticky Menu -->
        <div class="rspn-hdr">
            <div class="rspn-mdbr">
                <div class="rspn-scil">
                    @await Component.InvokeAsync("Socials")
                </div>
                @if (User.Identity.IsAuthenticated == false)
                {
                    <ul class="topbar-links mb-0 list-unstyled d-inline-flex text-left">
                        @if (User.IsInRole("admin"))
                        {
                            <li style="margin-right: 15px"><a asp-action="UpdateHeaderProp" asp-controller="admin">ویرایش</a><i class="fas fa-edit"></i></li>
                        }
                        @await Component.InvokeAsync("PhoneAddress")
                        <li><a asp-action="register" asp-controller="account" title="">@localizer["Register"]</a></li>
                        <li><a asp-action="login" asp-controller="account" title="">@localizer["Login"]</a></li>
                    </ul>
                }
                else
                {
                    <ul class="topbar-links mb-0 list-unstyled d-inline-flex text-left">
                        @if (User.IsInRole("admin"))
                        {
                            <li style="margin-right: 15px"><a asp-action="UpdateHeaderProp" asp-controller="admin">ویرایش</a><i class="fas fa-edit"></i></li>
                        }
                        @await Component.InvokeAsync("PhoneAddress")
                        <li><a asp-action="logout" asp-controller="account" title="">@localizer["LogOut"]</a></li>
                    </ul>
                }
            </div>
            <div class="lg-mn">
                <div class="logo">
                    <a asp-action="index" asp-controller="home" title="Home"><img src="@await Component.InvokeAsync("Logo")" alt="Logo"></a>
                </div>
                <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
            </div>
            <div class="rsnp-mnu">
                <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
                <ul class="mb-0 list-unstyled w-100">
                    <li><a asp-action="index" asp-controller="project" title="">@localizer["Projects"]</a></li>
                    <li><a asp-action="index" asp-controller="blog" title="">@localizer["Blog"]</a></li>
                    <li><a asp-action="aboutus" asp-controller="home" title="">@localizer["AboutUs"]</a></li>
                    <li><a asp-action="contactus" asp-controller="home" title="">@localizer["ContactUs"]</a></li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);" title="">@localizer["Language"]</a>
                        <ul class="mb-0 list-unstyled">
                            @await Component.InvokeAsync("Language")
                        </ul>
                    </li>

                    @if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
                    {
                        ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);
                        <li class="menu-item-has-children active">
                            <a href="javascript:void(0);" title="">@($"{user.name} {user.family}")</a>
                            <ul class="mb-0 list-unstyled">
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);" title="">@localizer["Account"]</a>
                                    <ul class="mb-0 list-unstyled" style="display: block;">
                                        <li><a asp-action="editprofile" asp-controller="account" title="">@localizer["EditAccount"]</a></li>
                                        <li><a asp-action="changepassword" asp-controller="account" asp-route-pagenumber="1" title="">@localizer["ChangePass"]</a></li>
                                    </ul>
                                </li>
                                <li><a asp-action="order" asp-controller="payment" title="">@localizer["Payment"]</a></li>
                                <li><a asp-action="purchases" asp-controller="account" title="">@localizer["Orders"]</a></li>
                                <li><a asp-action="support" asp-controller="account" title="">@localizer["Support"]</a></li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("admin"))
                    {
                        <li class="menu-item-has-children active">
                            <a href="javascript:void(0);" title="">ادمین</a>
                            <ul class="mb-0 list-unstyled" style="display: block;">
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);" title="">حساب کاربری</a>
                                    <ul class="mb-0 list-unstyled" style="display: block;">
                                        <li><a asp-action="editprofile" asp-controller="account" title="">ویرایش اطلاعات حساب کاربری</a></li>
                                        <li><a asp-action="changepassword" asp-controller="account" asp-route-pagenumber="1" title="">تغییر رمز عبور</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);" title="">نمونه کار</a>
                                    <ul class="mb-0 list-unstyled" style="display: block;">
                                        <li><a asp-action="insertproject" asp-controller="admin" title="">ثبت نمونه کار</a></li>
                                        <li><a asp-action="projectoptions" asp-controller="admin" asp-route-pagenumber="1" title="">حذف و ویرایش نمونه کار</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);" title="">پست</a>
                                    <ul class="mb-0 list-unstyled" style="display: block;">
                                        <li><a asp-action="insertpost" asp-controller="admin" title="">ثبت پست</a></li>
                                        <li><a asp-action="postoptions" asp-controller="admin" asp-route-pagenumber="1" title="">حذف و ویرایش پست</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);" title="">سفارش</a>
                                    <ul class="mb-0 list-unstyled" style="display: block;">
                                        @await Component.InvokeAsync("Order")
                                        <li><a asp-action="Orderprop" asp-controller="admin" title="">ویرایش توضیحات سفارش</a></li>
                                    </ul>
                                </li>
                                <li><a asp-action="aboutusprop" asp-controller="admin" title="">ویرایش درباره ما</a></li>
                                <li><a asp-action="contactusprop" asp-controller="admin" title="">ویرایش تماس با ما</a></li>
                                @(await Component.InvokeAsync("Inbox"))
                                <li><a asp-action="chatmanagement" asp-controller="admin" asp-route-pagenumber="1" title="">گفت و گو ها</a></li>
                                <li><a asp-action="users" asp-controller="admin" asp-route-pagenumber="1" title="">مدیریت کاربران</a></li>
                            </ul>
                        </li>
                    }

                </ul>
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->

        @RenderBody()

        <footer>
            <div class="w-100 bg-color5 pt-195 pb-10 position-relative">
                <div class="particles-js" id="prtcl2"></div>
                <div class="container">
                    <div class="footer-data w-100">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-3">
                                <div class="widget w-100">
                                    <div class="logo w-100">
                                        <h1 class="mb-0">
                                            <a asp-action="index" asp-controller="home">
                                                <img class="img-fluid"
                                                     src="@await Component.InvokeAsync("Logo")"
                                                     alt="Logo"
                                                     srcset="@await Component.InvokeAsync("Logo")">
                                            </a>
                                        </h1>
                                    </div><!-- Logo -->
                                    @await Component.InvokeAsync("ShortAboutUs")
                                    <div class="social-links2 d-inline-block">
                                        @await Component.InvokeAsync("Socials")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-6">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="widget w-100">
                                            <h3>@localizer["Language"]</h3>
                                            <ul class="mb-0 list-unstyled w-100">
                                                @await Component.InvokeAsync("Language")
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="widget w-100">
                                            <h3>@localizer["FastLinks"]</h3>
                                            <ul class="mb-0 list-unstyled w-100">
                                                <li><a asp-action="index" asp-controller="project" title="">@localizer["Projects"]</a></li>
                                                <li><a asp-action="index" asp-controller="blog" title="">@localizer["Blog"]</a></li>
                                                <li><a asp-action="aboutus" asp-controller="home" title="">@localizer["AboutUs"]</a></li>
                                                <li><a asp-action="contactus" asp-controller="home" title="">@localizer["ContactUs"]</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Footer Data -->
                </div>
            </div>
        </footer>
        <div class="copyright w-100 text-center bg-color6 position-relative">
            <div class="container">
                <p class="mb-0">@localizer["FooterInfo"]</p>
            </div>
        </div><!-- Copyright -->
    </main><!-- Main Wrapper -->

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/counterup.min.js"></script>
    <script src="~/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/assets/js/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/particles.min.js"></script>
    <script src="~/assets/js/particle-int.js"></script>
    <script src="~/assets/js/custom-scripts.js"></script>
</body>
</html>

@if (TempData["error"] != null)
{
<script>
        Swal.fire({
            icon: 'error',
            title: '@localizer["Error"]',
            text: '@Html.Raw(TempData["error"])',
            confirmButtonText: '@localizer["Ok"]',
        })
</script>
}

@if (TempData["success"] != null)
{
<script>
        Swal.fire({
            icon: 'success',
            text: '@Html.Raw(TempData["success"])',
            confirmButtonText: '@localizer["Ok"]',
        })
</script>
}

@if (TempData["info"] != null)
{
<script>
        Swal.fire({
            icon: 'info',
            title: '@localizer["Info"]',
            text: '@Html.Raw(TempData["info"])',
            confirmButtonText: '@localizer["Ok"]',
        })
</script>
}

@if (TempData["warning"] != null)
{
<script>
        Swal.fire({
            icon: 'warning',
            title: '@localizer["Warning"]',
            text: '@Html.Raw(TempData["warning"])',
            confirmButtonText: '@localizer["Ok"]',
        })
</script>
}
