@model PagedResult<Element4>

@if (ViewBag.Element4Count != 0)
{
    <h3 style="margin-top: 30px">فیلد های موجود</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td class="text-center"><b>#</b></td>
                    <td class="text-center"><b>عنوان</b></td>
                    <td class="text-center"><b>توضیحات</b></td>
                    <td class="text-center"><b>زبان</b></td>
                    <td class="text-center"><b>عملیات</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["Element4"] as List<Element4>)
                {
                    <tr>
                        <td class="text-center"><b>@item.id</b></td>
                        <td class="text-center">@(item.title != null ? item.title : "")</td>
                        <td class="text-center">@(item.description != null ? item.description : "")</td>
                        <td class="text-center">@item.language.faTitle</td>

                        <td class="text-center"><a id="deleteElement4" element4Id="@item.id" href="#">حذف</a> | <a asp-action="UpdateElement4" asp-controller="admin" asp-route-id="@item.id">ویرایش</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="margin-top: 150px; margin-bottom: 150px; margin-right: 40px">فیلدی جهت نمایش وجود ندارد!</h3>
}

<script>
    $(function () {
        $(deleteElement4).click(function () {
            var element4Id = $(this).attr("element4Id");

            Swal.fire({
                title: 'مطمعن هستید؟',
                text: "فیلد مورد نظر حذف شود؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'بله',
                confirmButtonColor: '#00A300',
                cancelButtonText: 'بازگشت',
                cancelButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    window.location.href = `/crud/deleteelement4Id?id=${element4Id}`;

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    Swal.fire(
                        'لغو شد',
                        'حذف فیلد لغو شد.',
                        'error',
                    )
                }
            })
        })
    })
</script>
