
@{
    ViewData["Title"] = localizer["Home"];
}

@model ElementProp

@inject IViewLocalizer localizer

<section>
    <div class="w-100 position-relative">
        <div class="feat-wrap style2 position-relative w-100">
            <div class="feat-caro">
                @if (ViewBag.SlideBarsCount != 0)
                {
                    @foreach (var item in ViewData["SlideBars"] as List<SlideBar>)
                    {
                        <div class="feat-item text-center">
                            <div class="feat-img position-absolute"
                                 style="background-image: url(@($"data:image/jpeg;base64,{Convert.ToBase64String(item.img)}"))"></div>
                            <div class="container">
                                <div class="feat-cap">
                                    <h1 class="mb-0">@item.title</h1>
                                    <p class="mb-0">@Html.Raw(item.description)</p>
                                    <br />
                                    <div class="feat-cap-innr">
                                        <a class="thm-btn thm-bg" href="@item.buttonLink" title="">
                                            @item.buttonTitle<i class="flaticon-arrow-pointing-to-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @if (User.IsInRole("admin"))
            {
                <a asp-action="SlideBarOptions" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
            }
        </div><!-- Featured Area Wrap -->
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-70 position-relative">
        <div class="container">
            <div class="sec-title v2 text-center w-100">
                <div class="sec-title-inner d-inline-block">
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="UpdateElement1Prop" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
                    }

                    <span class="thm-clr d-block">@(Model.e1PreTitle != null ? Model.e1PreTitle : "")</span>
                    <h2 class="mb-0">@(Model.e1Title != null ? Model.e1Title : "")</h2>
                    <p class="mb-0">@(Model.e1Description != null ? Model.e1Description : "")</p>
                </div>
            </div>
            <div class="serv-wrap text-center w-100">
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Element1Options" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
                }
                <div class="row res-caro2">
                    @if (ViewBag.Element1Count != 0)
                    {
                        int i = 1;
                        @foreach (var item in ViewData["Element1"] as List<Element1>)
                        {
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="serv-box2 position-relative overflow-hidden w-100"
                                     style="background-image: url(/assets/images/resources/serv-bg1.jpg);">

                                    <i class="thm-clr @(i == 1 ? "flaticon-wheel-saw" : i == 2 ? "flaticon-helmet" :
i == 3 ? "flaticon-carpenter" : i == 4 ? "flaticon-jigsaw" : "flaticon-wheel-saw")"></i>
                                    <div class="serv-box-inner">
                                        <h3 class="mb-0">
                                            <a href="services-detail.html" title="">@item.title</a>
                                        </h3>
                                        <p class="mb-0">@Html.Raw(item.description)</p>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                    }
                </div>
            </div><!-- Services Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 paralx-70 blue-layer opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/parallax1.jpg);"></div>
        <div class="container">
            <div class="sec-title w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="d-block thm-clr">@localizer["OurWorks"]</span>
                    <a asp-action="index" asp-controller="project"><h3 style="color: white" class="mb-0">@localizer["LatestProjects"]</h3></a>
                </div>
            </div>
        </div>
        <div class="proj-wrap px-70 w-100">
            <div class="row proj-caro">
                @if (ViewBag.ProjectsCount != 0)
                {
                    int j = 1;
                    @foreach (var item in ViewData["Projects"] as List<Project>)
                    {
                        <div class="col-md-4 col-sm-6 col-lg-3">
                            <div class="proj-box position-relative w-100">
                                <div class="proj-thumb overflow-hidden w-100">
                                    <a asp-action="projectdetailbridge" asp-controller="project" asp-route-id="@item.id" title="">
                                        <img class="img-fluid w-100" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.thumbNail)}")"
                                             alt="Project Image 1">
                                    </a>
                                </div>
                                <div class="proj-info position-absolute">
                                    <i class="@(j == 1 ? "flaticon-helmet" : j == 2 ? "flaticon-construction" : j == 3 ? "flaticon-worker-1" :
j == 4 ? "flaticon-lighthouse" : j == 5 ? "flaticon-worker" : j == 6 ? "flaticon-engineer-2" :
j == 7 ? "flaticon-file" : j == 8 ? "flaticon-electric-tower" : "flaticon-helmet")"></i>
                                    <h3 class="mb-0">
                                        <a asp-action="projectdetailbridge" asp-controller="project" asp-route-id="@item.id" title="">@item.title</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        j++;
                    }
                }
            </div>
        </div><!-- Projects Wrap -->
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="about-wrap style2 w-100">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-5 col-sm-12 col-lg-5 order-lg-1">
                        <div class="about-image position-relative w-100">
                            @if (Model.e2img != null)
                            {
                                <img class="img-fluid w-100" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.e2img)}")"
                                     alt="About Image 2">
                            }
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-lg-7">
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="UpdateElement2Prop" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
                        }
                        <div class="about-desc w-100">
                            <h2 class="mb-0">
                                @(Model.e2Title != null ? Model.e2Title : "") <strong class="thm-clr d-block">@(Model.e2PreTitle != null ? Model.e2PreTitle : "")</strong>
                            </h2>
                            <p class="mb-0">@(Model.e2Description != null ? Model.e2Description : "")</p>
                        </div>
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Element2Options" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
                        }
                        <div class="serv-wrap w-100">
                            <div class="row">
                                @if (ViewBag.Element2Count != 0)
                                {
                                    int k = 1;
                                    @foreach (var item in ViewData["Element2"] as List<Element2>)
                                    {
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box w-100">
                                                <i class="thm-clr @(k == 1 ? "flaticon-car-parts" : k == 2 ? "flaticon-helmet" :
k == 3 ? "flaticon-builder" : k == 4 ? "flaticon-architect" : k == 5 ? "flaticon-wheel-saw" :
k == 6 ? "flaticon-carpenter" : "flaticon-car-parts")"></i>
                                                <div class="serv-box-inner">
                                                    <h3 class="mb-0">@item.title</h3>
                                                    <p class="mb-0">@Html.Raw(item.description)</p>
                                                </div>
                                            </div>
                                        </div>
                                        k++;
                                    }
                                }
                            </div>
                        </div><!-- Services Wrap -->
                    </div>
                </div>
            </div><!-- About Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-130 pb-100 position-relative">
        <div class="container">
            @if (User.IsInRole("admin"))
            {
                <a asp-action="UpdateElement3Prop" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
            }
            <div class="sec-title2 w-100">
                <div class="sec-title-inner2 d-inline-block">
                    <h2 class="mb-0">@(Model.e3Title != null ? Model.e3Title : "")</h2>
                    <p class="mb-0">@(Model.e3Description != null ? Model.e3Description : "")</p>
                </div>
            </div>
            <div class="solutions-wrap w-100">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        @if (Model.e3img != null)
                        {
                            <img class="img-fluid w-100" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.e3img)}")"
                                 alt="Solutions Image">
                        }
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="solutions-content-wrap w-100">
                            <h2 class="mb-0">@(Model.e3PreTitle != null ? Model.e3PreTitle : "")</h2>
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-action="Element3Options" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
                            }
                            <ul class="solutions-list mb-0 list-unstyled w-100">
                                @if (ViewBag.Element3Count != 0)
                                {
                                    @foreach (var item in ViewData["Element3"] as List<Element3>)
                                    {
                                        <li>
                                            <i class="">+</i>
                                            <h4 class="mb-0">@item.title</h4>
                                            <p class="mb-0">@Html.Raw(item.description)</p>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- Solutions Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            @if (User.IsInRole("admin"))
            {
                <a asp-action="UpdateElement4Prop" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
            }
            <div class="sec-title w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="d-block thm-clr">@(Model.e4PreTitle != null ? Model.e4PreTitle : "")</span>
                    <h3 class="mb-0">@(Model.e4Title != null ? Model.e4Title : "")</h3>
                </div>
            </div>
            <div class="faq-wrap w-100">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6 order-md-1">
                        @if (Model.e4img != null)
                        {
                            <img class="img-fluid" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.e4img)}")" alt="Faq Mockup">
                        }
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Element4Options" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
                        }
                        <div class="toggle w-100" id="toggle">
                            @if (ViewBag.Element4Count != 0)
                            {
                                int l = 1;
                                @foreach (var item in ViewData["Element4"] as List<Element4>)
                                {
                                    <div class="toggle-item w-100">
                                        <h4 class="mb-0"><span>@($"{l++}.")</span>@item.title</h4>
                                        <div class="toggle-content w-100">
                                            <p class="mb-0">@Html.Raw(item.description)</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div><!-- Faq Wrap -->
        </div>
    </div>
</section>
<section>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="UpdateElement5Prop" asp-controller="admin" style="margin-right: 15px"><span>ویرایش<i class="fas fa-edit"></i></span></a>
    }
    <div class="w-100 pt-155 pb-155 blue-layer opc85 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/parallax3.jpg);"></div>
        <div class="particles-js" id="prtcl"></div>
        <div class="container">
            <div class="banner-wrap position-relative text-center w-100">
                <div class="banner-inner d-inline-block">
                    <h2 class="mb-0">@(Model.e5Title != null ? Model.e5Title : "")</h2>
                    <p class="mb-0">@(Model.e5Description != null ? Html.Raw(Model.e5Description) : "")</p>
                    <br />
                    <a class="thm-btn thm-bg" href="@(Model.e5ButtonLink != null ? Model.e5ButtonLink : "")" title="">
                        @(Model.e5ButtonText != null ? Model.e5ButtonText : "")<i class="flaticon-arrow-pointing-to-left"></i>
                    </a>
                </div>
            </div><!-- Banner Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-50 position-relative">
        <div class="container">
            <div class="sec-title w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="d-block thm-clr">@localizer["OurBlog"]</span>
                    <h3 class="mb-0">@localizer["LatestNews"]</h3>
                </div>
            </div>
            <div class="blog-wrap w-100">
                <div class="row post-caro">
                    @if (ViewBag.PostsCount != 0)
                    {
                        PersianCalendar persian = new();
                        @foreach (var item in ViewData["Posts"] as List<Post>)
                        {
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="post-box w-100 text-center">
                                    <div class="post-img overflow-hidden w-100">
                                        <a asp-action="blogdetailbridge" asp-controller="blog" asp-route-id="@item.id" title="">
                                            <img class="img-fluid w-100"
                                                 src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.thumbNail)}")"
                                                 alt="Post Image 1">
                                        </a>
                                    </div>
                                    <div class="post-info w-100">
                                        <h3 class="mb-0">
                                            <a asp-action="blogdetailbridge" asp-controller="blog" asp-route-id="@item.id" title="">@item.title</a>
                                        </h3>
                                        @Html.Raw(item.shortDecpription)
                                        <div class="post-info-bottom d-flex flex-wrap w-100">
                                            <span class="d-inline-block">
                                                <i class="far fa-user"></i><a href="javascript:void(0);" title="">@($"{item.ApplicationUser.name} {item.ApplicationUser.family}")</a>
                                            </span>
                                            <ul class="post-meta mb-0 list-unstyled d-inline-flex">
                                                <li>
                                                    <i class="far fa-calendar-alt"></i>
                                                    @($"{persian.GetYear(item.createTime)}/{persian.GetMonth(item.createTime)}/{persian.GetDayOfMonth(item.createTime)}")
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div><!-- Blog Wrap -->
            <div class="view-all w-100 text-center">
                <a class="thm-btn thm-bg" asp-action="index" asp-controller="blog" title="">
                    @localizer["AllNews"]<i class="flaticon-arrow-pointing-to-left"></i>
                </a>
            </div><!-- View All -->
        </div>
    </div>
</section>
@if (User.Identity.IsAuthenticated == false)
{
    <section>
        <div class="w-100 position-relative">
            <div class="container">
                <div class="getin-touch-wrap overlap-99 brd-rd5 style2 thm-layer opc8 w-100 overflow-hidden position-relative">
                    <div class="fixed-bg" style="background-image: url(/assets/images/parallax2.jpg);"></div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-7 col-sm-12 col-lg-5">
                            <div class="getin-touch-title w-100">
                                <span class="text-color1 d-block">@localizer["Subscribe"]</span>
                                <h2 class="mb-0">@localizer["SubscribeMessage"]</h2>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-lg-4">
                            <div class="getin-touch-btn text-left">
                                <a class="thm-btn bg-color1" asp-action="register" asp-controller="" title="">
                                    @localizer["CreateAccount"]<i class="flaticon-arrow-pointing-to-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
