
@{
    ViewData["Title"] = localizer["OrderResult"];
}

@model Order

@inject IViewLocalizer localizer

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
            </div>
        </div>
    </div>
</section>

<h3 style="margin-top: 30px; margin-right: 40px">@($"{Model.applicationUser.name} {Model.applicationUser.family}") @localizer["ResultMessage"]</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td class="text-center"><b>#</b></td>
                <td class="text-center"><b>@localizer["Buyer"]</b></td>
                <td class="text-center"><b>@localizer["Time"]</b></td>
                <td class="text-center"><b>@localizer["TrackingCode"]</b></td>
                <td class="text-center"><b>@localizer["Email"]</b></td>
                <td class="text-center"><b>@localizer["PhoneNumber"]</b></td>
                <td class="text-center"><b>@localizer["Price"]</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><b>@Model.id</b></td>
                <td class="text-center"><b>@($"{Model.applicationUser.name} {Model.applicationUser.family}")</b></td>
                <td class="text-center"><b>@Model.payTime</b></td>
                <th class="text-center">@Model.trackingCode</th>
                <th class="text-center">@Model.applicationUser.Email</th>
                <th class="text-center">@Model.applicationUser.PhoneNumber</th>
                <th class="text-center">@($"{Model.price:0,0} تومان")</th>
            </tr>
        </tbody>
    </table>
</div>
<p style="color: red"><b>@localizer["ResultInfo"]</b></p>
