
@{
    ViewData["Title"] = localizer["ApprovedFee"];
}

@model ElementProp

@inject UserManager<ApplicationUser> userManager
@inject IViewLocalizer localizer

@{ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name); }

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">@localizer["ApprovedFee"]</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="home" title="">@localizer["Home"]</a></li>
                    <li class="breadcrumb-item active"><a asp-action="order" asp-controller="payment" title="">@localizer["ApprovedFee"]</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="about-wrap w-100">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-sm-12 col-lg-10">
                        <div class="about-content-wrap w-100">
                            <div class="row" style="margin-bottom: 30px">
                                @Html.Raw(Model.OrderDescription)
                            </div>

                            @if (user.price != 0)
                            {
                                <label style="font-size: 20px"><b>@localizer["Price"]: @($"{user.price:0,0} تومان")</b></label>

                                <form asp-action="orderPayment">
                                    <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 30px">
                                        <button class="thm-btn thm-bg">
                                            @localizer["EnterPayment"]<i class="flaticon-arrow-pointing-to-left"></i>
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div><!-- About Wrap -->
        </div>
    </div>
</section>
