
@{
    ViewData["Title"] = localizer["Login"];
}

@model LoginViewModel

@inject IViewLocalizer localizer

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">@localizer["Login"]</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="home" title="">@localizer["Home"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Login"]</li>
                </ol>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<section style="margin-top: 15px">
    <div class="w-100 pb-100 position-relative">
        <div class="container">
            <form asp-action="loginconfirm" class="contact-form text-center w-100">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <label class="d-block">@localizer["Email"]</label>
                        <input asp-for="userName" type="email">
                        <span asp-validation-for="userName"></span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <label class="d-block">@localizer["Password"]</label>
                        <input asp-for="password" type="password">
                        <span asp-validation-for="password"></span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <label>
                            <input asp-for="rememberMe" type="checkbox" />
                            @localizer["RememberMe"]
                        </label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <a href="#" id="forgotpassword">@localizer["ForgotPass"]</a>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <button class="thm-btn thm-bg">
                            @localizer["Enter"]<i class="flaticon-arrow-pointing"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $(function () {
        $(forgotpassword).click(function (event) {
            event.preventDefault();

            Swal.fire({
                title: "@localizer["Email2"]",
                text: "@localizer["Email2Message"]",
                input: "text",
                showCancelButton: true,
                confirmButtonText: '@localizer["Confirm"]',
                cancelButtonText: '@localizer["Back"]',
                cancelButtonColor: '#d33',
                inputValidator: (value) => {
                    if (!value) {
                        return '@localizer["Email2Message2"]'
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/account/forgotpasslvlone?email=${result.value}`;
                }
            });
        })
    })
</script>
