
@{
    ViewData["Title"] = localizer["Purchasess"];
}

@model List<Order>

@inject UserManager<ApplicationUser> userManager
@inject IViewLocalizer localizer

@{ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);
    PersianCalendar persian = new();}

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">@localizer["Purchasess"]</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="home" title="">@localizer["Home"]</a></li>
                    <li class="breadcrumb-item active"><a asp-action="purchases" asp-controller="account" title="">@localizer["Purchasess"]</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
@if (Model.Count != 0)
{
    <h3 style="margin-top: 30px; margin-right: 40px">@localizer["PurchasessMessage"]</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td class="text-center"><b>#</b></td>
                    <td class="text-center"><b>@localizer["Buyer"]</b></td>
                    <td class="text-center"><b>@localizer["Time"]</b></td>
                    <td class="text-center"><b>@localizer["TrackingCode"]</b></td>
                    <td class="text-center"><b>@localizer["Email"]</b></td>
                    <td class="text-center"><b>@localizer["PhoneNumber"]</b></td>
                    <td class="text-center"><b>@localizer["Price"]</b></td>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center"><b>@(i++)</b></td>
                        <td class="text-center"><b>@($"{item.applicationUser.name} {item.applicationUser.family}")</b></td>
                        <td class="text-center"><b>@($"{persian.GetYear(item.payTime)}/{persian.GetMonth(item.payTime)}/{persian.GetDayOfMonth(item.payTime)}  {persian.GetHour(item.payTime)}:{persian.GetMinute(item.payTime)}:{persian.GetSecond(item.payTime)}")</b></td>
                        <th class="text-center">@item.trackingCode</th>
                        <th class="text-center">@item.applicationUser.Email</th>
                        <th class="text-center">@item.applicationUser.PhoneNumber</th>
                        <th class="text-center">@($"{item.price:0,0} تومان")</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="margin-top: 150px; margin-bottom: 150px; margin-right: 40px">@localizer["NullPurchasess"]</h3>
}
