
@{
    ViewData["Title"] = Model.title;
    ViewData["Description"] = Html.Raw(Model.shortDecpription);
}

@model Post

@inject IViewLocalizer localizer

@{PersianCalendar persian = new(); }

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">@Model.title</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="home" title="">@localizer["Home"]</a></li>
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="blog">@localizer["Blog"]</a></li>
                    <li class="breadcrumb-item active">@Model.title</li>
                </ol>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="post-detail-wrap w-100">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-8">
                        <div class="post-detail w-100">
                            <img class="img-fluid w-100" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.detailImg)}")" alt="Blog Detail Image">
                            <div class="post-info-bottom d-flex flex-wrap w-100">
                                <ul class="post-meta mb-0 list-unstyled d-inline-flex">
                                    <li><i class="far fa-calendar-alt"></i>@($"{persian.GetYear(Model.createTime)}/{persian.GetMonth(Model.createTime)}/{persian.GetDayOfMonth(Model.createTime)}")</li>
                                </ul>
                            </div>
                            <h2 class="mb-0">@Model.title</h2>

                            @Html.Raw(Model.shortDecpription)

                            <br />
                            <br />

                            @Html.Raw(Model.longDecpription)
                        </div>
                    </div>
                    @if (ViewBag.PostsCount != 0)
                    {
                        <div class="col-md-6 col-sm-12 col-lg-4">
                            <aside class="sidebar-wrap w-100">
                                <div class="widget2 blog_widget brd-rd5 w-100">
                                    <h3>@localizer["LatestBlog"]</h3>
                                    <div class="blog-widget-post-list w-100">
                                        @foreach (var item in ViewData["Posts"] as List<Post>)
                                        {
                                            <div class="blog-mini-post w-100">
                                                <a asp-action="blogdetailbridge" asp-route-id="@item.id" title=""><img class="img-fluid" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.thumbNail)}")" alt="Blog Mini Post Icons 1"></a>
                                                <div class="blog-mini-post-info">
                                                    <h4 class="mb-0">
                                                        <a asp-action="blogdetailbridge" asp-route-id="@item.id" title="">@item.title</a>
                                                    </h4>
                                                    <span class="d-block mini-post-date">@($"{persian.GetYear(Model.createTime)}/{persian.GetMonth(Model.createTime)}/{persian.GetDayOfMonth(Model.createTime)}")</span>
                                                    <span class="d-block mini-post-comments"><i class="far fa-user"></i><a href="javascript:void(0);" title="">@($"{item.ApplicationUser.name} {item.ApplicationUser.family}")</a></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </aside><!-- Sidebar Wrap -->
                        </div>
                    }
                </div>
            </div><!-- Blog Detail Wrap -->
        </div>
    </div>
</section>
