
@{
    ViewData["Title"] = "ProvinceOptions";
}


@model ProvinceViewModel

    <section>
        <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
            <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
            <div class="container">
                <div class="page-top-wrap w-100">
                </div>
            </div>
        </div>
    </section>
    <form asp-action="insertprovince" asp-controller="crud" class="contact-form text-center w-100">
        <h3 style="margin-top: 30px">ثبت شهر</h3>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <label class="d-block">نام</label>
                <input asp-for="name" class="fname" type="text">
                <span asp-validation-for="name"></span>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
                <label class="d-block">قیمت</label>
                <input asp-for="price" class="fname" type="text" />
                <span asp-validation-for="price"></span>
            </div>
        </div>
        <button id="maininsertbtn" hidden></button>
    </form>
    <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 30px">
        <button id="secondinsertbtn" class="thm-btn thm-bg">
            ثبت<i class="flaticon-arrow-pointing-to-left"></i>
        </button>
    </div>

    @if (ViewBag.ProvincesCount != 0)
    {
        <h3 style="margin-top: 30px">شهر های موجود</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td class="text-center"><b>#</b></td>
                        <td class="text-center"><b>نام</b></td>
                        <td class="text-center"><b>قیمت</b></td>
                        <td class="text-center"><b>عملیات</b></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewData["Provinces"] as List<Province>)
                    {
                        <tr>
                            <td class="text-center"><b>@item.id</b></td>
                            <td class="text-center">@item.name</td>
                            <td class="text-center">@($"{item.price:0,0} تومان")</td>

                            <td class="text-center"><a id="deleteProvince" provinceId="@item.id" href="#">حذف</a> | <a asp-action="UpdateProvince" asp-controller="admin" asp-route-id="@item.id">ویرایش</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h3 style="margin-top: 150px; margin-bottom: 150px; margin-right: 40px">شهری جهت نمایش وجود ندارد!</h3>
    }

    <script>
        $(function () {
            $(secondinsertbtn).click(function () {
                Swal.fire({
                    title: 'ثبت فیلد',
                    text: "فیلد مورد نظر ثبت شود؟",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'بله',
                    cancelButtonText: 'بازگشت'

                }).then((result) => {
                    if (result.isConfirmed) {
                        $(maininsertbtn).click()
                    }
                })
            })
        })

        $(function () {
            $(deleteProvince).click(function () {
                var provinceId = $(this).attr("provinceId");

                Swal.fire({
                    title: 'مطمعن هستید؟',
                    text: "شهر مورد نظر حذف شود؟ با حذف شهر تمام سفارش های وابسته به این شهر حذف خواهند شد.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'بله',
                    confirmButtonColor: '#00A300',
                    cancelButtonText: 'بازگشت',
                    cancelButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {

                        window.location.href = `/crud/deleteprovince?id=${provinceId}`;

                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        Swal.fire(
                            'لغو شد',
                            'حذف شهر لغو شد.',
                            'error',
                        )
                    }
                })
            })
        })
    </script>
