
@{
    ViewData["Title"] = "ویرایش توضیحات";
}

@model List<ElementProp>
<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
            </div>
        </div>
    </div>
</section>
<section style="margin-top: 15px">
    <div class="w-100 pb-100 position-relative">
        <div class="container">
            <form asp-action="updateelement2prop" asp-controller="crud" enctype="multipart/form-data" method="post"
                  class="contact-form text-center w-100">
                @foreach (var item in Model)
                {
                    <h3 style="margin-top: 30px">ویرایش @item.language.faTitle توضیحات</h3>

                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="d-block">عنوان کوتاه</label>
                            <input name="PreTitles" value="@item.e2PreTitle" class="fname" type="text" required>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="d-block">عنوان کامل</label>
                            <input name="Titles" value="@item.e2Title" class="fname" type="text" required>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="d-block">توضیحات</label>
                            <textarea name="descriptions" class="fname" type="text" required>@item.e2Description</textarea>
                        </div>
                    </div>
                    if (item.language.faTitle == "فارسی")
                    {
                        <div class="col-md-12 col-sm-12 col-lg-12 custom-file" style="margin-top: 15px">
                            <input name="img" id="picture" class="fname custom-file-input" type="file" />
                            <label class="d-block custom-file-label text-center">عکس فیلد</label>
                        </div>
                        if (item.e2img != null)
                        {
                            <img width="250" style="margin-top: 15px; border-radius: 15px" id="fieldImg"
                                 src="@($"data:image;base64,{Convert.ToBase64String(item.e2img)}")" />
                        }
                        else
                        {
                            <img width="250" style="margin-top: 15px; border-radius: 15px" id="fieldImg" />
                        }
                    }
                    <input name="languageIds" value="@item.languageId" hidden />
                }

                <button id="mainupdatebtn" hidden></button>
            </form>
            <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 30px">
                <button id="secondupdatebtn" class="thm-btn thm-bg">
                    ثبت<i class="flaticon-arrow-pointing-to-left"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $(secondupdatebtn).click(function () {
            Swal.fire({
                title: 'ویرایش فیلد',
                text: "فیلد مورد نظر ویرایش شود؟",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله',
                cancelButtonText: 'بازگشت'

            }).then((result) => {
                if (result.isConfirmed) {
                    $(mainupdatebtn).click()
                }
            })
        })
    })

    $(function () {
        $(picture).change(function () {
            var reader = new FileReader

            reader.readAsDataURL(picture.files[0])
            reader.onloadend = (x) => {
                fieldImg.src = x.target.result
            }
        })
    })
</script>
