
@{
    ViewData["Title"] = "ویرایش اسلاید";
}

@model SlideBar
<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
            </div>
        </div>
    </div>
</section>
<section style="margin-top: 15px">
    <div class="w-100 pb-100 position-relative">
        <div class="container">
            <form asp-action="updateslidebar" asp-controller="crud" asp-route-id="@Model.id" method="post" enctype="multipart/form-data"
                  class="contact-form text-center w-100">
                <h3>مشخصات اسلاید</h3>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 20px">
                        <label class="d-block">عنوان</label>
                        <input name="title" value="@Model.title" class="fname" type="text" required>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <label class="d-block">توضیحات</label>
                        <textarea name="description" class="fname" type="text" required>@Model.description</textarea>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <label class="d-block">متن دکمه</label>
                        <input name="buttonTitle" value="@Model.buttonTitle" class="fname" type="text" required />
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <label class="d-block">لینک دکمه</label>
                        <input name="buttonLink" value="@Model.buttonLink" class="fname" type="text" required />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 custom-file" style="margin-top: 15px">
                    <input name="img" id="picture" class="fname custom-file-input" type="file" />
                    <label class="d-block custom-file-label text-center">عکس اسلاید</label>
                </div>
                <img width="250" style="margin-top: 15px; border-radius: 15px" id="postimg"
                     src="@($"data:image;base64,{Convert.ToBase64String(Model.img)}")" />
                <button id="mainupdatebtn" hidden></button>
            </form>
            <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 30px">
                <button id="secondupdatebtn" class="thm-btn thm-bg">
                    ویرایش<i class="flaticon-arrow-pointing-to-left"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $(secondupdatebtn).click(function () {
            Swal.fire({
                title: 'ویرایش اسلاید',
                text: "اسلاید مورد نظر ویرایش شود؟",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله',
                cancelButtonText: 'بازگشت'

            }).then((result) => {
                if (result.isConfirmed) {
                    $(mainupdatebtn).click()
                }
            })
        })
    })

    $(function () {
        $(picture).change(function () {
            var reader = new FileReader

            reader.readAsDataURL(picture.files[0])
            reader.onloadend = (x) => {
                postimg.src = x.target.result
            }
        })
    })
</script>
